<div class="navbar fixed-top custom-navbar">
    <div class="col-md-2 logo">
        <a href="{{ admin_path('dashboard.php') }}">
            <span>MobiDoc</span>
            <img src="{{ asset('images/favicon.svg') }}" class="img-logo" alt="">
        </a>
    </div>
    <div class="nav-pull-right">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span>Welcome Vijaya</span>
                <a href="#">
                    <i class="fa fa-sign-out" aria-hidden="true" title="Logout"></i>
                </a>
            </li>
        </ul>
    </div>
</div>