<div id="sidebar">
    <ul class="nav">
        <li>
            <a href="{{ admin_path('dashboard.php') }}">
                <i class="zmdi zmdi-view-dashboard"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="{{ admin_path('BodyParts/list.php') }}">
                <i class="zmdi zmdi-male"></i> Body Parts
            </a>
        </li>
        <li>
            <a href="{{ admin_path('BodyOrgans/list.php') }}">
                <i class="zmdi zmdi-face"></i> Body Organs
            </a>
        </li>
        <li>
            <a href="{{ admin_path('Disease/list.php') }}">
                <i class="zmdi zmdi-accounts-list"></i> Disease
            </a>
        </li>
    </ul>
</div>