{% extends 'admin/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin/list.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row list-header">
            <div class="col-md-12">
                <p>Add Body Parts</p>
            </div>
        </div>
        {% include 'admin/components/alert-error-message.html.twig' %}
        <div class="row">
                <div class="col-md-12 mt-3">
                    <form class="needs-validation" novalidate method="post" action="{{ admin_path('BodyParts/create.php') }}">
                        <div class="form-group row mb-3 col-md-12">
                            <label for="validationCustom01" class="col-md-2 col-form-label">Part Name*</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Body Part name" value="" required name="partName">
                            </div>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">This field is required!</div>
                        </div>
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-save"></i><span>&nbsp;</span>Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% include 'admin/components/form-validation.html.twig' %}
{% endblock %}